.container {
  height: 700px;
  display: flex;
  flex-direction: column;
}

.newarticle {
  background-color: #121331;
  text-align: center;
  color: #ccc;
  font-family: Arial Black;
  padding: 20px;
}

.entryform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}

.entryform label, .entryform input, .entryform textarea {
  width: 500px;
}
/* Navigation styles */
nav {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #e7ebee;
  color: #121331;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  font-family: Arial Black;
}
.entryform button{
  font-family: Arial Black;
  color: beige;
  background-color: blueviolet;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
}

footer {
  background-color: #121331;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}
